:root {
    font-family: 'Julius Sans One', 'Arial';
    /* Fonts */
    --font-body: 'Julius Sans One', Arial;
    --font-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    /* --font-icon: null; */
    /* Colors */
    --color-gray-100: rgb(240, 236, 233);
    --color-gray-500: #707682;
    --color-gray-900: #2D2F34;
    --color-primary-100: #E6F1FF;
    --color-primary-500: #cdd1d4;
    --color-primary-900: #2a90f0;
    --color-black-100: rgba(0, 0, 0, .3);
    --color-black-500: rgba(0, 0, 0, .8);
    --color-black-000: rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span {
    font-family: 'Julius Sans One', Arial;
    color: var(--color-gray-100);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.4vw;
    vertical-align: baseline;
    overflow: hidden;
}


/* body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
} */


/* Use primary color for focus styles */

 :focus-visible {
    outline-color: var(--color-primary-500);
    outline-offset: 3px;
    outline-style: solid;
    outline-width: 2px;
}


/* ~ */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: no-repeat center;
    background-image: url(/imported/pics/03-main-lightblue.jpg);
    background-size: cover;
    font-size: 3vw;
    height: 100vh;
    z-index: 0;
    /* padding: 1rem; */
}

.fa-solid {
    color: white;
    padding: 10px;
}

.rightarrow {
    display: flex;
    justify-content: flex-start;
}

.center-container {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* z-index: 10; */
}

.center {
    display: inherit;
    justify-content: space-between;
    color: var(--color-primary-500);
    z-index: 10;
}

.top {
    display: inherit;
    justify-content: flex-start;
    align-items: center;
    height: 25vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* max-height: 9vh; */
    width: 100%;
    z-index: 0;
    /* background-color: red; */
    /* background-color: yellow; */
}

.nav-logo {
    position: absolute;
    height: 30vh;
    width: auto;
    top: 0px;
    left: 15px;
    padding: .5vw;
    /* z-index: 2; */
}

.nav-header {
    /* background: red; */
    position: absolute;
    top: 6vh;
    pointer-events: none;
    color: var(--color-black-500);
    margin-left: 10vw;
    z-index: 1;
}

.nav-gradient {
    background-image: linear-gradient(var(--color-black-500), var(--color-black-000));
    position: absolute;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 15vh;
    padding: 0px;
    pointer-events: none;
    /* background-image: linear-gradient(150deg, rgba(240, 236, 233, 1) 00%, rgba(240, 236, 233, 1) 20%, rgba(240, 236, 233, .0) 40%); */
    /* background: radial-gradient(circle at left, rgba(240, 236, 233, 1) 0%, rgba(240, 236, 233, 1) 40%, rgba(240, 236, 233, 0) 80%); */
    z-index: -1;
}

.right {
    display: inherit;
    align-items: center;
    margin-right: -95vw;
    width: 115vw;
    height: 100%;
    animation-name: scaleDown;
    animation-duration: .3s;
    animation-fill-mode: both;
    box-shadow: 0px 30px 20px 0px var(--color-gray-900);
    z-index: 1;
}

.rightcol {
    pointer-events: none;
    display: inherit;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
}

.right-header {
    position: absolute;
    font-size: 3vw;
    top: 50%;
    left: 3%;
    font-size: 3vw;
    color: var(--color-gray-100);
    /* background: radial-gradient(var(--color-black-500), var(--color-black-000)); */
    padding: 1vw;
    text-shadow: .5vw .5vw .8vw black;
}

.right-text {
    position: absolute;
    top: 35%;
    left: 3%;
    max-width: 30%;
    padding: 3rem;
    color: var(--color-gray-100);
    line-height: 1.9vh;
}

.fa-circle-left {
    position: absolute;
    top: 30%;
    font-size: 4vw;
    animation-name: pulseLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.left {
    display: inherit;
    align-items: center;
    margin-left: -95vw;
    width: 115vw;
    height: 100%;
    animation-name: scaleDown;
    animation-duration: .3s;
    animation-fill-mode: both;
    box-shadow: 0px 30px 20px 0px var(--color-gray-900);
    /* background-color: var(--color-black-100); */
    z-index: 1;
}

.leftcol {
    pointer-events: none;
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
}

.left-header {
    position: absolute;
    top: 50%;
    right: 3%;
    font-size: 3vw;
    color: var(--color-gray-100);
    text-align: right;
    padding: 1vw;
    text-shadow: .5vw .5vw .8vw black;
    /* background-color: red */
}

.fa-circle-right {
    position: absolute;
    left: 93%;
    top: 30%;
    font-size: 4vw;
    animation-name: pulseRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    /* color: red; */
    /* transform: scale(40) */
}

.left-text {
    position: absolute;
    top: 35%;
    right: 3%;
    max-width: 30%;
    padding: 2rem;
    color: var(--color-gray-100);
    text-align: right;
    line-height: 1.9vh;
}

.flipArrow {
    animation-name: flipArrow;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.overlayUp {
    animation-name: scaleUp;
    animation-iteration-count: 1;
    animation-duration: .6s;
    animation-fill-mode: both;
}

.hidden {
    visibility: hidden;
}

.bottom {
    display: inherit;
    justify-content: flex-end;
    align-items: center;
    height: 20vh;
    max-height: 9vh;
    width: 100%;
    font-size: 85%;
    border: 1rem solid var(--color=gray-100);
    padding-right: 2vw;
    /* background: radial-gradient(circle at right, rgba(240, 236, 233, 1) 0%, rgba(240, 236, 233, 1) 60%, rgba(240, 236, 233, 0) 80%); */
    /* background: radial-gradient(circle at right, rgb(19, 19, 19) 0%, rgb(238, 238, 238) 60%, rgba(240, 236, 233, 0) 80%); */
    color: var(--color-gray-100);
    background-image: linear-gradient(var(--color-black-000), var(--color-black-500));
    z-index: 1;
}


/* animations */

@keyframes scaleUp {
    0% {
        transform: scale(1, 1);
    }
    10% {
        box-shadow: 0px 0px 0px 0px var(--color-gray-900);
    }
    100% {
        transform: scale(1.8, 1.8);
        /* opacity: 100%; */
        background-color: var(--color-black-500);
        box-shadow: 0px 0px 0px 0px var(--color-gray-900);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1.8, 1.8);
        opacity: 100%;
        background-color: var(--color-primary-500)
    }
    10% {
        box-shadow: 0px 0px 0px 0px var(--color-gray-900);
    }
    100% {
        transform: scale(1, 1);
        /* box-shadow: 0px 0px 0px 0px var(--color-gray-900); */
        /* background-color: none; */
    }
}

@keyframes pulseRight {
    0% {
        transform: translateX(.5rem)
    }
    100% {
        transform: translateX(-.5rem)
    }
}

@keyframes pulseLeft {
    0% {
        transform: translateX(-.5rem)
    }
    100% {
        transform: translateX(.5rem)
    }
}

@keyframes flipArrow {
    100% {
        transform: rotate(.5turn)
    }
}

@media only screen and (min-width:600px) {
    .left-text,
    .right-text {
        font-size: 1vw;
    }
    .left-header,
    .right-header {
        font-size: 3vw;
    }
    .bottom {
        background-color: green;
    }
}

@media only screen and (min-width:1000px) {
    .left-text,
    .right-text {
        font-size: .8vw;
    }
    .bottom {
        background-color: yellow;
    }
}